nav .listItem {
    color: rgb(6, 11, 29);
    text-decoration: none;
    size: 20px;
  }
  
  
  
  nav .listItem {
    display: inline-block;
    height: auto;
    margin-right: 2%;
    cursor: pointer;
    padding: 0.5%;
    margin: 0.1%;
    vertical-align: top;
  }
  
  
  
  nav .listItem:not(:first-child) {
    padding: 2%;
    margin-top: 1.5%;
    border-top: 2px solid #2729a0;
  }
  
  
  
  nav .listItem:hover {
    border-top: none;
    border-bottom: 2px solid  #2729a0;
    font-weight: bold;
  }
  
  