.button{
    text-align: center; 
   color: rgb(38, 31, 105);
   font-size: 1em;
   padding: 0.25em 1em;
	margin-top: 1em;
    margin-left: 11px;
   
   border: 2px solid rgb(47, 79, 182);
   border-radius: 3px;
 
 }
 